
{% extends "layout.html" %}

{% block body %}


<h1 class="text-center">{{blogpost.title}}</h2>
<div class="jumbotron">
  <div class="container">
      <h4 class="text-center">{{blogpost.url}}</h4>
      <div class="text-center">{{blogpost.description}}</div>
      {% if blogpost.author %}
      <footer class="blockquote-footer">blog post by {{ blogpost.author }} </footer>
      {% endif %}
  </div>
</div>
<div>
  <form method="POST" action="{{ url_for('blogposts.blog_posts_update', blog_post_id=blogpost.id) }}">
    <input class="btn btn-primary" type="submit" name="update" value="Update blog post" />
  </form>
</div> 

{% endblock %}