{% extends "layout.html" %}


{% block body %}
<!-- table table-hover table-sm  -->

{% for obj in data %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{obj.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{obj.category}}</h6>
    <p class="card-text">
    </p>

    {% if obj.category == "Book" %}
    <form class="card-link" method="POST" action="{{ url_for('books.books_contact', book_id=obj.id) }}">
      <input class="btn btn-primary" type="submit" name="update" value="Update book" />
    </form>
    {% endif %}

  </div>
</div>
{% endfor %}
{% endblock %}