{% extends "layout.html" %}

{% block body %}
<h1>New Book</h1>
<form method="POST" action="{{ url_for('books.books_create') }}">

  <table>
    <tr>
      <th> {{ form.title.label }}</th>
      <th> {{ form.author.label }}</th>
      <th> {{ form.description.label }}</th>
    </tr>
    <tr>
      <td>
        {{ form.title }}
        <ul>
          {% for error in form.title.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        {{ form.author }}
        <ul>
          {% for error in form.author.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        {{ form.description }}
        <ul>
          {% for error in form.description.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <input class="btn btn-primary" type="submit" value="Add a new book" />
      </td>
    </tr>
  </table>

</form>
{% endblock %}