{% extends "layout.html" %}

{% block body %}
<h1>Updating book</h1>
<form method="POST" action="{{ url_for('books.books_update', book_id=book.id) }}">
  <div>
    {{ form.name.label }}
    {{ form.name }}
    <td>
      <ul>
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </td>
  </div>
  <div>
    {{ form.author.label }}
    {{ form.author }}
    <ul>
      {% for error in form.author.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    {{ form.description.label }}
    {{ form.description }}
    <td>
      <ul>
        {% for error in form.description.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </td>
  </div>
  <div>
    <input class="btn btn-primary" type="submit" value="Update data" />
  </div>
</form>
{% endblock %}