{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">Updating book</h1>
<form method="POST" action="{{ url_for('books.books_update', book_id=book.id) }}">
  <div class="form-group">
    {{ form.title.label }}
    {{ form.title(class="form-control")}}
    <td>
      <ul>
        {% for error in form.title.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </td>
  </div>
  <div class="form-group">
    {{ form.author.label }}
    {{ form.author(class="form-control")}}
    <ul>
      {% for error in form.author.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="form-group">
    {{ form.description.label }}
    {{ form.description(class="form-control", rows="10")}}
    <td>
      <ul>
        {% for error in form.description.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </td>
  </div>
  <div>
    <input class="btn btn-primary" type="submit" value="Update data" />
  </div>
</form>
{% endblock %}