{% extends "layout.html" %} {% block body %}
<!-- table table-hover table-sm  -->
<h1 class="text-center">List of videos</h1>
{% for video in videos %} {% if video.platform == "youtube"%}
<div class="card mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ video.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ video.category }}</h6>
    <p class="card-text">
      <!-- <a href="https://www.youtube.com/watch?v=ioj6RdUR5r4">video =)</a> -->
    </p>
    <div class="embed-responsive embed-responsive-1by1">
      <iframe
        width="420"
        height="315"
        src="https://www.youtube.com/embed/{{ video.url }}"
      >
      </iframe>
    </div>

    <div>
      <form
        method="POST"
        action="{{ url_for('videos.remove_video', video_id=video.id) }}"
      >
        <input
          class="btn btn-primary"
          type="submit"
          name="delete"
          value="remove video"
        />
      </form>
    </div>

    {#
    <div>
      <form
        method="POST"
        action="{{ url_for('videos.videos_show', video_id=video.id) }}"
      >
        <input
          class="btn btn-primary"
          type="submit"
          name="view"
          value="Toggle video"
        />
      </form>
    </div>
    #}
  </div>
</div>
{% elif video.platform == "twitch" %}

<div class="card mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ video.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ video.description}}</h6>
    <p class="card-text">
      <!-- <a href="https://www.youtube.com/watch?v=ioj6RdUR5r4">video =)</a> -->
    </p>
    <div class="embed-responsive embed-responsive-1by1">
      <div id="twitch-embed"></div>

      <!-- Load the Twitch embed script -->
      <script src="https://embed.twitch.tv/embed/v1.js"></script>

      <!--
    Create a Twitch.Embed object that will render
    within the "twitch-embed" root element.
  -->
      <script type="text/javascript">
        var embed = new Twitch.Embed("twitch-embed", {
          width: 854,
          height: 480,
          channel: "{{video.creator}}",
          layout: "video",
          autoplay: false
        });

        embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
          var player = embed.getPlayer();
          player.play();
        });
      </script>
    </div>

    <div>
      <form
        method="POST"
        action="{{ url_for('videos.remove_video', video_id=video.id) }}"
      >
        <input
          class="btn btn-primary"
          type="submit"
          name="view"
          value="remove video"
        />
      </form>
    </div>
  </div>
</div>

{% endif %} {% endfor %} {% endblock %}
